@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.router-link-exact-active{
  background-color: #e3342f!important;
  color: #fff!important;
}

.pagination-page-nav .page-link,
.pagination-next-nav .page-link,
.pagination-prev-nav .page-link
{
  color: #e3342f!important;
  border-color: none!important;
  border: none!important
}

.pagination-page-nav, .active .page-link{
  color: #fff!important;
  background-color: #e3342f!important;
  border-color: none;
  border: none!important
}
.pagination-page-nav, .active .page-link:onfocus{
  box-shadow: none;
}

.splashpage {
  height: 100vh!important;
  display: flex;
  width:100%;
  align-items: center!important;
  justify-content: center;
  z-index: 999;
  position: absolute;
  background-color: #fff!important;
}

.fas{
  cursor: pointer;
}

/* For Print */

@media screen{
  .MediaPrint{display:none; }
  .PrintInc{display: none;}
}

@media print{
  /* @page{size:auto; margin:3mm; } */
  button, table, .noPrint, .btn, h1, footer, .navbar-nav{display:none}
  .MediaPrint{display:block; flex: none;}
}