<template>
    <div class="">
        
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-danger"></i> Generate Report</a>  -->
        </div>
            
        <!-- Content Row -->
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                    Bins</div>
                                    <div class="h4 mb-0 font-weight-bold text-gray-800"><span v-text="shelves.length"></span></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-box fa-2x text-danger"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-danger shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                        Items</div>
                                        <div class="h4 mb-0 font-weight-bold text-gray-800"><span v-text="items.length"></span></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-boxes fa-2x text-danger"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Users
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h2 mb-0 mr-3 font-weight-bold text-gray-800"><span v-text="users.length"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-users fa-2x text-danger"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
    </div>
</template>

<script>
    export default {
        mounted() {
            // console.log('Dashboard mounted.')
        },
        created() {
            this.loadData();
        },
        data() {
            return{
                shelves: {},
                users: {},
                items: {},
            }
        },
        methods: {
            loadData: function(){
                // console.log('Data Loaded');
                axios.get("/api/allBins").then(({data}) => (this.shelves = data));
                axios.get("/api/allUsers").then(({data}) => (this.users = data));
                axios.get("/api/allItems").then(({data}) => (this.items = data));
            }
        }
    }
</script>
