<template>
    <div>
        <div class="" v-if="searchBin">
             <div class="form-group row">
                <input type="text" class="form-control w-100 col-lg-2 col-sm-12" placeholder="Search Bin" style="margin-right:-35px" v-model="search" v-on:keyup="searchAll">
                <div class="input-group-append">
                    <span class="btn btn-danger">
                        <i class="fas fa-search fa-sm"></i>
                    </span>
                </div>
            </div>   
        </div>
        <div class=""  v-if="itemSearch">
          <div class="form-group row">
                    <input type="text" class="form-control w-100 col-lg-2 col-sm-12" placeholder="Search Item" style="margin-right:-35px" v-model="searchItem">
                    <div class="input-group-append">
                        <span class="btn btn-danger">
                            <i class="fas fa-search fa-sm"></i>
                        </span>
                    </div>
                </div>
        </div>
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h4 mb-0 text-gray-800">Stocks</h1>
        </div>
        <div v-if="binsWindow">
            <div style="overflow-x:scroll" class="noPrint" >
                <table class="table table-bordered table-sm text-center " >
                    <thead>
                        <tr>
                        <th scope="col">Bin</th>
                        <th scope="col">Location</th>
                        <th scope="col">Items</th>
                        <th scope="col" colspan="2">Deposit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="shelf in shelves.data" :key="shelf.id">
                            <td v-text="shelf.name" class="text-uppercase" style="cursor: pointer;" v-on:click="showItems(shelf)"></td>
                            <td v-text="shelf.location" class="text-uppercase"></td>
                            <td v-text="shelf.items.length" class="text-uppercase"></td>
                            <td>
                                <span class="fas fa-plus text-danger" style="cursor: pointer;" v-on:click="depositModal(shelf)"></span>
                            </td>
                        </tr>
                        <tr v-if="shelves.data == 0" >
                            <td colspan="6">NO RESULTS FOUND</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <pagination :data="shelves" @pagination-change-page="getResults" class="mt-2" :limit="1"/>
        </div>

        <div style="overflow-x:scroll" class="noPrint" v-if="itemsWindow">
            <button class="btn btn-danger mb-2 float-right mb-3 rounded-circle ml-2" v-on:click="closeItemWindow"><span class="fa fa-times"></span></button>
            <download-excel :data="json_data" class="btn btn-danger float-right" name="stocks.xls">Generate Report</download-excel>
            <h1 class="h4 mb-0 text-gray-800 text-uppercase">Bin: <span class="h4 mb-0 text-gray-800 text-uppercase" v-text="shelf.name"></span></h1>
            <table class="table table-bordered table-sm text-center">
                <thead>
                    <tr>
                    <th scope="col">Material</th>
                    <th scope="col">Desc.</th>
                    <th scope="col">Size</th>
                    <th scope="col">Type</th>
                    <th scope="col">Qty</th>
                    <th scope="col" colspan="3">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in resultQuery" :key="item.id" class="text-uppercase" :class="item.quantity <= 5 ? 'table-warning' : ''">
                        <td v-text="item.name"></td>
                        <td v-text="item.description"></td>
                        <td v-text="item.size"></td>
                        <td class="" v-text="item.type"></td>
                        <td v-text="item.quantity"></td>
                        <td>
                            <span class="fas fa-pen text-primary" v-on:click="editModal(item)"></span>
                        </td>
                        <td>
                            <span class="fas fa-trash-alt text-danger" v-on:click="deleteItem(item.id)"></span>
                        </td>
                        <td>
                            <span class="fas fa-plus text-danger" v-on:click="qtyModal(item)"></span>
                        </td>
                    </tr>
                    <tr v-if="resultQuery.length == 0" >
                        <td colspan="6">NO RESULTS FOUND</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><span v-text="editMode ? 'Edit Item' : 'Deposit Item'"></span> </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <form @submit.prevent="editMode ? updateItem() : createItem()">
                    <div class="modal-body">
                        <p class="h4 text-center">Deposit Item to Bin: <span class="h4 text-uppercase" v-text="shelf.name"></span></p>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" v-model="form.name" :class="{ 'is-invalid' : form.errors.has('name') }">
                            <has-error :form="form" field="name"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" v-model="form.description" :class="{ 'is-invalid' : form.errors.has('description') }">
                            <has-error :form="form" field="description"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="size">Size</label>
                            <input type="text" class="form-control" v-model="form.size" :class="{ 'is-invalid' : form.errors.has('size') }">
                            <has-error :form="form" field="size"></has-error>
                        </div>
                         <div class="form-group">
                            <label for="type">Type</label>
                            <input type="text" class="form-control" v-model="form.type" :class="{ 'is-invalid' : form.errors.has('type') }">
                            <has-error :form="form" field="type"></has-error>
                        </div>
                        <div class="form-group" v-if="!editMode">
                            <label for="quantity">Quantity</label>
                            <input type="number" class="form-control" v-model="form.quantity" :class="{ 'is-invalid' : form.errors.has('quantity') }">
                            <has-error :form="form" field="quantity"></has-error>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger"><span v-text="editMode ? 'Save changes' : 'Deposit Item'"></span></button>
                    </div>
                </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="qtyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Quantity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <form @submit.prevent="updateQty()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input type="number" class="form-control" v-model="addQty.quantity" :class="{ 'is-invalid' : addQty.errors.has('quantity') }">
                            <has-error :form="addQty" field="quantity"></has-error>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Add Quantity</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted: function() {
        // console.log('Component Mounted')
        this.getResults();
    },
    created() {
        this.loadShelves();

        Fire.$on('searching', () => {
                let query = this.search;
                axios.get('/api/findShelf?q=' + query)
                .then((data)=> {
                    this.shelves = data.data;
                })
                .catch(()=> {
                    // console.log('No result found');
                });
            })

        Fire.$on('CallData', () => {
            this.loadShelves();
        });

        Fire.$on('RecallData', () => {
            this.loadShelf();
        });
    },
    computed: {
        orderedItems: function () {
            return _.orderBy(this.shelf.items, 'created_at' , 'desc')
        },
        resultQuery(){
            if(this.searchItem){
                return this.shelf.items.filter((data)=>{
                    return this.searchItem.toLowerCase().split(' ').every(v => data.name.toLowerCase().includes(v) || data.description.toLowerCase().includes(v) || data.size.toLowerCase().includes(v) || data.type.toLowerCase().includes(v))
                })
                }else{
                    return _.orderBy(this.shelf.items, 'created_at' , 'desc');
                }
        }
    },
    data() {
        return {
            search: '',
            searchItem: '',
            binsWindow: true,
            itemsWindow: false,
            shelves: {},
            shelf: {},
            editMode: true,
            addQty: new Form({
                    quantity: ''
                }),
            form: new Form({
                id: '',
                shelf_id: '',
                shelf_name: '',
                shelf_location: '',
                name: '',
                description: '',
                quantity: '',
                size: '',
                type: ''
            }),
            searchBin: true,
            itemSearch: false,
            json_data: []
        }
    },
    methods: {
        searchAll: _.debounce(()=>{
            Fire.$emit('searching');
        },1000),
        getResults(page = 1) {
            axios.get('api/shelf?page=' + page)
                .then(response => {
                    this.shelves = response.data;
                });
        },
        loadShelves: function(){
            axios.get("/api/shelf").then(({data}) => (this.shelves = data));
        },
         loadShelf: function(){
            axios.get("/api/shelf").then(({data}) => (this.shelves = data));
            axios.get("/api/shelf/" + this.shelf.id).then(({data}) => (this.shelf = data));
            
            // console.log('Show items', this.shelf);
        },
        depositModal: function(shelf){
            this.editMode = false;
            this.form.reset();
            this.shelf = shelf;
            // console.log(this.shelf);
            $('#itemModal').modal('show');
        },
        createItem: function(){
            this.$Progress.start();
            this.form.shelf_id = this.shelf.id;
            this.form.shelf_name = this.shelf.name;
            this.form.shelf_location = this.shelf.location;
            this.form.post('/api/item')
            .then(() => {
                Fire.$emit('CallData');
                $('#itemModal').modal('hide');

                Toast.fire({
                    icon: 'success',
                    title: 'Item Created.'
                })

                this.itemsWindow = false;
                this.binsWindow = true;
                this.$Progress.finish();
            })
            .catch(() => {
                    Toast.fire({
                    icon: 'error',
                    title: 'Item Creation Failed.'
                })
            this.$Progress.fail();
            });
        },
        deleteItem: function(id){
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#e74a3b',
                cancelButtonColor: '#858796',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                if (result.isConfirmed) {
                    this.form.delete('/api/item/'+id)
                    .then(()=>{
                        Fire.$emit('RecallData');
                        Toast.fire({
                            icon: 'success',
                            title: 'Item Deleted.'
                        })
                    })
                    .catch(()=>{})
                    ;
                }
            })         
        },
        showItems: function(shelf){
            // console.log('Show items', shelf);
            this.binsWindow = false;
            this.searchBin = false;
            this.itemSearch = true;
            this.itemsWindow = true;
            this.shelf = shelf;
            this.json_data = shelf.items;
            // Object.entries(this.json_data);
            // console.log('jsondata', this.json_data);
        },
        closeItemWindow: function() {
            this.binsWindow = true;
            this.itemsWindow = false;
            this.searchBin = true;
            this.itemSearch = false;
        },
         qtyModal: function(item){
                this.form.reset();
                this.addQty.reset();
                $('#qtyModal').modal('show');
                this.form.fill(item);
        },
        updateQty: function(){
                this.addQty.put('/api/updateQty/'+this.form.id)
            .then(()=>{
                Fire.$emit('RecallData');
                $('#qtyModal').modal('hide');

                Toast.fire({
                    icon: 'success',
                    title: 'Quantity Updated.'
                })

                this.$Progress.finish();
                
            })
            .catch(()=>{
                Toast.fire({
                    icon: 'error',
                    title: 'Quantity Update Failed.'
                })
                this.$Progress.fail();
            });
        },
        editModal: function(item){
            this.editMode = true;
            this.form.reset();
            // this.shelf = shelf;
            $('#itemModal').modal('show');
            this.form.fill(item);
        },
        updateItem: function(){
            this.form.put('/api/item/'+this.form.id)
            .then(()=>{
                Fire.$emit('RecallData');
                $('#itemModal').modal('hide');

                Toast.fire({
                    icon: 'success',
                    title: 'Item Updated.'
                })

                this.$Progress.finish();
            })
            .catch(()=>{
                Toast.fire({
                    icon: 'error',
                    title: 'Item Update Failed.'
                })
                this.$Progress.fail();
            });
        },
    }
}
</script>