<template>
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h1>404 Page Not Found</h1>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            // console.log('Component mounted.')
        }
    }
</script>
