<template>
    <div class="">
        
    </div>
</template>

<script>
    export default {
        mounted() {
            // console.log('Component mounted.')
        },
        created() {
            // Fire.$on('RecallData', () => {
            //     this.onDecode(this.result);
            // });

            // Fire.$on('searching', () => {
            //     let query = this.search;
            //     axios.get('/api/findBins?q=' + query)
            //     .then((data)=> {
            //         this.res = true;
            //         this.shelves = data.data;
            //     })
            //     .catch(()=> {
                    
            //     });
            // })
        },
        data () {
            return {
               
            }
        },
        methods: {
            
        }
    }
</script>
