<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Stocks Component</div>

                    <div class="card-body">
                        I'm an example component.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            // console.log('Component mounted.')
        },
        created() {
            // axios.get("/api/user").then(({data}) => console.log(data));
        },
        data() {
            return {
                // form: new Form({
                //     id: '',
                //     name: '',
                //     email: '',
                //     password: '',
                //     access_level: ''
                // })
            }
        }
    }
</script>
