<template>
    <div class="">
        <div v-if="binsWindow">
            <div class="form-group row">
                <input type="text" class="form-control w-100 col-lg-2 col-sm-12" placeholder="Search Bin" style="margin-right:-35px" v-model="search" v-on:keyup="searchAll">
                <div class="input-group-append">
                    <span class="btn btn-danger">
                        <i class="fas fa-search fa-sm"></i>
                    </span>
                </div>
            </div>        
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <button class="btn btn-danger float-right" v-on:click="newModal">Create New Bin+</button>
                <h1 class="h4 mb-0 text-gray-800">Bins</h1>
                    <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-danger"></i> Generate Report</a>  -->
            </div>
            <div style="overflow-x:scroll" class="noPrint" >
                <table class="table table-bordered table-sm text-center " >
                    <thead>
                        <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Items</th>
                        <th scope="col">View QR</th>
                        <th scope="col" colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="shelf in shelves.data" :key="shelf.id" >
                            <td v-text="shelf.name" class="text-uppercase" style="cursor: pointer;" v-on:click="showItems(shelf)">A1</td>
                            <td v-text="shelf.location" class="text-uppercase"></td>
                            <td v-text="shelf.items.length" class="text-uppercase">A1</td>
                            <td>
                                <span class="fas fa-qrcode text-danger" v-on:click="viewQR(shelf)"></span>
                            </td>
                            <td>
                                <span class="fas fa-pen text-primary" v-on:click="editModal(shelf)"></span> 
                            </td>
                            <td>
                                <span class="fas fa-trash-alt text-danger" v-on:click="deleteShelf(shelf.id)"></span>
                            </td>
                        </tr>
                        <tr v-if="shelves.data == 0" >
                            <td colspan="6">NO RESULTS FOUND</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <pagination :data="shelves" @pagination-change-page="getResults" class="mt-2" :limit="1"/>
        </div>

        <div style="overflow-x:scroll" class="noPrint" v-if="itemWindow">
            <div class=""  v-if="itemSearch">
                 <div class="form-group row">
                    <input type="text" class="form-control w-100 col-lg-2 col-sm-12" placeholder="Search Item" style="margin-right:-35px" v-model="searchItem">
                    <div class="input-group-append">
                        <span class="btn btn-danger">
                            <i class="fas fa-search fa-sm"></i>
                        </span>
                    </div>
                </div>
                <!-- <input type="text" style="margin-right:-35px" class="form-control border-0 small" v-model="searchItem" placeholder="Search Item" aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="btn btn-danger">
                        <i class="fas fa-search fa-sm"></i>
                    </span>
                </div> -->
            </div>
            <button class="btn btn-danger mb-2 float-right mb-3 rounded-circle ml-2" v-on:click="closeItemWindow"><span class="fa fa-times"></span></button>
            <download-excel :data="json_data" class="btn btn-danger float-right" name="stocks.xls">Generate Report</download-excel>
            <h1 class="h4 mb-0 text-gray-800 text-uppercase">Bin: <span class="h4" v-text="shelf.name"></span></h1>
            <table class="table table-bordered table-sm text-center " >
                <thead>
                    <tr>
                    <!-- <th scope="col">Bin</th> -->
                    <th scope="col">Material</th>
                    <th scope="col">Desc.</th>
                    <th scope="col">Size</th>
                    <th scope="col">Type</th>
                    <th scope="col">Qty</th>
                    <th scope="col" colspan="">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in resultQuery" :key="item.id" class="text-uppercase" :class="item.quantity <= 5 ? 'table-warning' : ''">
                        <!-- <td v-text="shelf.name" class=""></td> -->
                        <td v-text="item.name"></td>
                        <td v-text="item.description"></td>
                        <td v-text="item.size"></td>
                        <td class="" v-text="item.type"></td>
                        <td v-text="item.quantity"></td>
                        <td>
                             <span class="fas fa-sign-out-alt text-danger" v-on:click="withdrawModal(item)" v-if="item.quantity > 0"></span>
                        </td>
                    </tr>
                     <tr v-if="resultQuery.length == 0" >
                        <td colspan="6">NO RESULTS FOUND</td>
                    </tr>
                </tbody>
            </table>
        </div>

         <div class="modal fade" id="shelfModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><span v-text="editMode ? 'Edit Bin' : 'Create New Bin'"></span> </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <form @submit.prevent="editMode ? updateShelf() : createShelf()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" v-model="form.name" :class="{ 'is-invalid' : form.errors.has('name') }">
                            <has-error :form="form" field="name"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input type="text" class="form-control" v-model="form.location" :class="{ 'is-invalid' : form.errors.has('location') }">
                            <has-error :form="form" field="location"></has-error>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger"><span v-text="editMode ? 'Save changes' : 'Create Bin'"></span></button>
                    </div>
                </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="QRModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                     <div class="modal-header">
                    <!-- <h5 class="modal-title" id="exampleModalLabel"><span v-text="editMode ? 'Edit Shelf' : 'Add New Shelf'"></span> </h5> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="modal-body d-flex justify-content-center align-items-center pb-4 flex-column PrintQRCode">
                        <div>
                            <qr-code :text="shelf.qrcode" v-if="shelf.qrcode"></qr-code>
                        </div>
                        <div>
                            <p class="h1 text-uppercase" v-text="shelf.name"></p>
                        </div>
                    <button v-on:click="Print('.PrintQRCode')" class="btn btn-danger">Print</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Withdraw Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <form @submit.prevent="withdrawItem()">
                    <div class="modal-body">
                        <div class="text-center">
                            <table class="table table-bordered table-sm">
                                <tr>
                                    <td style="width:40%">Item Name:</td>
                                    <td v-text="itemForm.name"></td>
                                </tr>
                                <tr>
                                    <td>Description:</td>
                                    <td v-text="itemForm.description"></td>
                                </tr>
                                 <tr>
                                    <td>Size:</td>
                                    <td v-text="itemForm.size"></td>
                                </tr>
                                <tr>
                                    <td>Type:</td>
                                    <td v-text="itemForm.type"></td>
                                </tr>
                                <tr>
                                    <td>Quantity:</td>
                                    <td v-text="itemForm.quantity"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input type="number" class="form-control" v-model="withdraw.quantity" :class="{ 'is-invalid' : withdraw.errors.has('quantity') }">
                            <has-error :form="withdraw" field="quantity"></has-error>   
                        </div>
                         <div class="form-group">
                            <label for="main_code">Main Code</label>
                            <input type="text" class="form-control" v-model="withdraw.main_code" :class="{ 'is-invalid' : withdraw.errors.has('main_code') }">
                            <has-error :form="withdraw" field="main_code"></has-error>   
                        </div>
                        <div class="form-group">
                            <label for="sub_code">Sub Code</label>
                            <input type="text" class="form-control" v-model="withdraw.sub_code" :class="{ 'is-invalid' : withdraw.errors.has('sub_code') }">
                            <has-error :form="withdraw" field="sub_code"></has-error>   
                        </div>
                        <div class="form-group">
                            <label for="purpose">Purpose</label>
                            <textarea class="form-control" id="purpose" rows="3" v-model="withdraw.purpose " :class="{ 'is-invalid' : withdraw.errors.has('purpose') }"></textarea>
                            <has-error :form="withdraw" field="purpose"></has-error>
                        </div>
                        <!-- <small class="text-danger">Note: Withdraw quantity should not be higher than item quantity</small> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!-- <span v-if="form.quantity < withdraw.quantity">
                            <button class="btn btn-danger">Your requested withdraw quantity should not be higher than item quantity</button>
                        </span> -->
                        <!-- <span v-else> -->
                        <button type="submit" class="btn btn-danger">Withdraw</button>
                        <!-- </span> -->
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            // console.log('Component mounted.')
            this.getResults();
        },
        computed: {
           orderedItems: function () {
                return _.orderBy(this.shelf.items, 'created_at' , 'desc')
            },
            resultQuery(){
            if(this.searchItem){
                return this.shelf.items.filter((data)=>{
                    return this.searchItem.toLowerCase().split(' ').every(v => data.name.toLowerCase().includes(v) || data.description.toLowerCase().includes(v) || data.size.toLowerCase().includes(v) || data.type.toLowerCase().includes(v))
                })
                }else{
                    return _.orderBy(this.shelf.items, 'created_at' , 'desc');
                }
            }
        },
        created() {
            Fire.$on('searching', () => {
                let query = this.search;
                axios.get('/api/findShelf?q=' + query)
                .then((data)=> {
                    this.shelves = data.data;
                    // console.log(this.shelves.data.length);
                })
                .catch(()=> {
                    this.noResult = true;
                });
            })

            this.loadShelves();

            Fire.$on('CallShelves', () => {
                this.loadShelves();
            })

            Fire.$on('RecallData', () => {
                this.loadShelf();
            });
        },
        data() {
            return {
                noResult: false,
                search: '',
                searchItem: '',
                binsWindow: true,
                itemWindow: false,
                shelf: {},
                shelves: {},
                editMode: true,
                form: new Form({
                    id: '',
                    name: '',
                    location: ''
                }),
                itemForm: new Form({
                    id: '',
                    shelf_id: '',
                    name: '',
                    description: '',
                    quantity: '',
                    size: '',
                    type: ''
                }),
                withdraw: new Form({
                    shelf_name: '',
                    shelf_location: '',
                    item_name: '',
                    item_description: '',
                    item_size: '',
                    item_type: '',
                    quantity: '',
                    purpose: '',
                    main_code: '',
                    sub_code: ''
                }),
                searchBin: true,
                itemSearch: false,
                json_data: []
            }
        },
        methods: {
            searchAll: _.debounce(()=>{
                Fire.$emit('searching');
            },1000),
             withdrawItem: function(){
                if(this.itemForm.quantity < this.withdraw.quantity || this.withdraw.quantity == ''){
                    Toast.fire({
                        icon: 'error',
                        title: 'Withdraw quantity should not be higher than item quantity'
                    })
                    return;
                } else {
                    this.withdraw.shelf_name = this.shelf.name;
                    this.withdraw.shelf_location = this.shelf.location;
                    this.withdraw.item_name = this.itemForm.name;
                    this.withdraw.item_description = this.itemForm.description;
                    this.withdraw.item_size = this.itemForm.size;
                    this.withdraw.item_type = this.itemForm.type;
                   
                    this.withdraw.put('/api/withdraw/'+this.itemForm.id)
                    .then(()=>{
                        Fire.$emit('RecallData');
                        $('#withdrawModal').modal('hide');

                        Toast.fire({
                            icon: 'success',
                            title: 'Item withdrawn.'
                        })

                        this.$Progress.finish();
                    })
                    .catch(()=>{
                        Toast.fire({
                            icon: 'error',
                            title: 'Item withdraw failed.'
                        })
                        this.$Progress.fail();
                    });
                }
            },
            withdrawModal: function(item){
                this.itemForm.reset();
                this.withdraw.reset();
                $('#withdrawModal').modal('show');
                this.itemForm.fill(item);
            },
            showItems: function(shelf){
                // console.log('Show items', shelf);
                this.binsWindow = false;
                this.itemWindow = true;
                this.shelf = shelf;
                this.searchBin = false;
                this.itemSearch = true;
                this.json_data = shelf.items;
                // Object.entries(this.json_data);
                // console.log('jsondata', this.json_data);
            },
            getResults(page = 1) {
                axios.get('api/shelf?page=' + page)
                    .then(response => {
                        this.shelves = response.data;
                    });
		    },
            viewQR: function(shelf){
                $('#QRModal').modal('show');
                this.shelf = shelf;
            },
            newModal: function(){
                this.editMode = false;
                this.form.reset();
                $('#shelfModal').modal('show');
            },
            editModal: function(shelf){
                this.editMode = true;
                this.form.reset();
                $('#shelfModal').modal('show');
                this.form.fill(shelf);
            },
            createShelf: function(){
                this.$Progress.start();

                this.form.post('/api/shelf')
                .then(() => {
                    Fire.$emit('CallShelves');
                    $('#shelfModal').modal('hide');

                    Toast.fire({
                        icon: 'success',
                        title: 'Shelf Created.'
                    })

                    this.$Progress.finish();
                })
                .catch(() => {
                     Toast.fire({
                        icon: 'error',
                        title: 'Shelf Creation Failed.'
                    })
                    this.$Progress.fail();
                });
            },
            updateShelf: function(){
                this.form.put('/api/shelf/'+this.form.id)
                .then(()=>{
                    Fire.$emit('CallShelves');
                    $('#shelfModal').modal('hide');

                    Toast.fire({
                        icon: 'success',
                        title: 'Shelf Updated.'
                    })

                    this.$Progress.finish();
                })
                .catch(()=>{
                    Toast.fire({
                        icon: 'error',
                        title: 'Shelf Update Failed.'
                    })
                    this.$Progress.fail();
                });
            },
            deleteShelf: function(id){
                // console.log('delete shelf');

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#e74a3b',
                    cancelButtonColor: '#858796',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                    if (result.isConfirmed) {
                        this.form.delete('/api/shelf/'+id)
                        .then(()=>{
                            Fire.$emit('CallShelves');
                           Toast.fire({
                                icon: 'success',
                                title: 'Shelf Deleted.'
                            })
                        })
                        .catch(()=>{})
                        ;
                    }
                })     
            },
            loadShelves: function(){
                axios.get("/api/shelf").then(({data}) => (this.shelves = data));
            },
            loadShelf: function(){
                axios.get("/api/shelf").then(({data}) => (this.shelves = data));
                axios.get("/api/shelf/" + this.shelf.id).then(({data}) => (this.shelf = data));
                // console.log('Show items', this.shelf);
            },
            Print:(Element)=>{
                $('.MediaPrint').html($(Element+':first').clone());
                window.print();
            },
            closeItemWindow: function() {
                this.binsWindow = true;
                this.itemWindow = false;
                
                this.searchBin = true;
                this.itemSearch = false;
            }
        }
    }
</script>
