<template>
    <div class="">
        <div class="form-group row">
            <input type="text" class="form-control w-100 col-lg-2 col-sm-12" placeholder="Search Item" style="margin-right:-35px" v-model="search" v-on:keyup="searchAll">
            <div class="input-group-append">
                <span class="btn btn-danger">
                    <i class="fas fa-search fa-sm"></i>
                </span>
            </div>
        </div>
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h4 mb-0 text-gray-800">Stocks</h1>
        </div>

        <div style="overflow-x:scroll" v-if="search !== ''">
            <table class="table table-bordered table-sm text-center">
                <thead>
                    <tr>
                    <th scope="col">Bin</th>
                    <th scope="col">Material</th>
                    <th scope="col">Desc.</th>
                    <th scope="col">Size</th>
                    <th scope="col">Type</th>
                    <th scope="col">Qty</th>
                    <th scope="col" colspan="3">Action</th>
                    </tr>
                </thead>
                <tbody class="text-uppercase">
                    <tr v-for="item in items.data" :key="item.id" :class="item.quantity <= 5 ? 'table-warning' : ''">
                        <td v-text="item.shelf.name"></td>
                        <td v-text="item.name"></td>
                        <td v-text="item.description"></td>
                        <td v-text="item.size"></td>
                        <td class="" v-text="item.type"></td>
                        <td v-text="item.quantity"></td>
                        <td>
                            <span class="fas fa-pen text-primary" v-on:click="editModal(item)"></span>
                        </td>
                        <td>
                            <span class="fas fa-trash-alt text-danger" v-on:click="deleteItem(item.id)"></span>
                        </td>
                        <td>
                            <span class="fas fa-plus text-danger" v-on:click="qtyModal(item)"></span>
                        </td>
                    </tr>
                    <tr v-if="resultQuery == 0">
                         <td colspan="7">NO RESULTS FOUND</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <pagination :data="items" @pagination-change-page="getResults" class="mt-2" :limit="1" v-if="search !== ''"/>
        
        <div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><span v-text="editMode ? 'Edit Item' : 'Deposit Item'"></span> </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <form @submit.prevent="editMode ? updateItem() : createItem()">
                    <div class="modal-body">

                         <div class="form-group " >
                            <label for="shelf_id">Bin</label>
                            <select class="custom-select text-uppercase" disabled name="shelf_id" id="" v-model="form.shelf_id" :class="{ 'is-invalid' : form.errors.has('shelf_id') }">
                                <option v-for="shelf in shelves" :key="shelf.id" :value="shelf.id">
                                    <span v-text="shelf.name"></span>
                                </option>
                            </select>
                            <has-error :form="form" field="shelf_id"></has-error>
                        </div>

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" v-model="form.name" :class="{ 'is-invalid' : form.errors.has('name') }">
                            <has-error :form="form" field="name"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" v-model="form.description" :class="{ 'is-invalid' : form.errors.has('description') }">
                            <has-error :form="form" field="description"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="size">Size</label>
                            <input type="text" class="form-control" v-model="form.size" :class="{ 'is-invalid' : form.errors.has('size') }">
                            <has-error :form="form" field="size"></has-error>
                        </div>
                         <div class="form-group">
                            <label for="type">Type</label>
                            <input type="text" class="form-control" v-model="form.type" :class="{ 'is-invalid' : form.errors.has('type') }">
                            <has-error :form="form" field="type"></has-error>
                        </div>
                        <div class="form-group" v-if="!editMode">
                            <label for="quantity">Quantity</label>
                            <input type="number" class="form-control" v-model="form.quantity" :class="{ 'is-invalid' : form.errors.has('quantity') }">
                            <has-error :form="form" field="quantity"></has-error>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger"><span v-text="editMode ? 'Save changes' : 'Create Item'"></span></button>
                    </div>
                </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="qtyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Quantity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <form @submit.prevent="updateQty()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input type="number" class="form-control" v-model="addQty.quantity" :class="{ 'is-invalid' : addQty.errors.has('quantity') }">
                            <has-error :form="addQty" field="quantity"></has-error>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Add Quantity</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['data'],
        mounted() {
            this.getResults();
        },
        computed: {
            resultQuery(){
            if(this.searchItem){
                return this.items.data.filter((data)=>{
                    console.log('DATA',data);
                    return this.searchItem.toLowerCase().split(' ').every(v => data.name.toLowerCase().includes(v) || data.description.toLowerCase().includes(v) || data.size.toLowerCase().includes(v) || data.type.toLowerCase().includes(v));
                })
                }else{
                    return _.orderBy(this.items, 'created_at' , 'desc');
                }
            }
        },
        created() {
            Fire.$on('searching', () => {
                let query = this.search;
                axios.get('/api/findItem?q=' + query)
                .then((data)=> {
                    this.items = data.data;
                    console.log(this.items);
                })
                .catch(()=> {
                    
                });
            })

            this.initData();

            Fire.$on('CallData', () => {
                this.initData();
            });

        },
        data() {
            return {
                searchItem: '',
                search: '',
                editMode: true,
                shelves: {},
                items: {},
                addQty: new Form({
                    quantity: ''
                }),
                form: new Form({
                    id: '',
                    shelf_id: '',
                    name: '',
                    description: '',
                    quantity: '',
                    size: '',
                    type: ''
                })
            }
        },
        methods: {
             searchAll: _.debounce(()=>{
                Fire.$emit('searching');
            },1000),
            getResults(page = 1) {
                axios.get('api/item?page=' + page)
                    .then(response => {
                        this.items = response.data;
                    });
		    },
            newModal: function(){
                this.editMode = false;
                this.form.reset();
                $('#itemModal').modal('show');
            },
            editModal: function(item){
                this.editMode = true;
                this.form.reset();
                $('#itemModal').modal('show');
                this.form.fill(item);
            },
            qtyModal: function(item){
                this.form.reset();
                this.addQty.reset();
                $('#qtyModal').modal('show');
                this.form.fill(item);
            },
            updateQty: function(){
                 this.addQty.put('/api/updateQty/'+this.form.id)
                .then(()=>{
                    Fire.$emit('CallData');
                    $('#qtyModal').modal('hide');

                    Toast.fire({
                        icon: 'success',
                        title: 'Quantity Updated.'
                    })

                    this.$Progress.finish();
                    
                })
                .catch(()=>{
                    Toast.fire({
                        icon: 'error',
                        title: 'Quantity Update Failed.'
                    })
                    this.$Progress.fail();
                });
            },
            createItem: function(){
               this.$Progress.start();

                this.form.post('/api/item')
                .then(() => {
                    Fire.$emit('CallData');
                    $('#itemModal').modal('hide');

                    Toast.fire({
                        icon: 'success',
                        title: 'Item Created.'
                    })

                    this.$Progress.finish();
                })
                .catch(() => {
                     Toast.fire({
                        icon: 'error',
                        title: 'Item Creation Failed.'
                    })
                    this.$Progress.fail();
                });
            },
            updateItem: function(){
                this.form.put('/api/item/'+this.form.id)
                .then(()=>{
                    Fire.$emit('CallData');
                    $('#itemModal').modal('hide');

                    Toast.fire({
                        icon: 'success',
                        title: 'Item Updated.'
                    })
                    
                    this.search = '';
                    this.$Progress.finish();
                })
                .catch(()=>{
                    Toast.fire({
                        icon: 'error',
                        title: 'Item Update Failed.'
                    })
                    this.$Progress.fail();
                });
            },
            deleteItem: function(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#e74a3b',
                    cancelButtonColor: '#858796',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                    if (result.isConfirmed) {
                        this.form.delete('/api/item/'+id)
                        .then(()=>{
                            Fire.$emit('CallData');
                           Toast.fire({
                                icon: 'success',
                                title: 'Item Deleted.'
                            })
                        })
                        .catch(()=>{})
                        ;
                    }
                })         
            },
            initData: function(){
                axios.get("/api/allBins").then(({data}) => (this.shelves = data));
                axios.get("/api/item").then(({data}) => (this.items = data));
            }
        }
    }
</script>
