<template>
    <div class="">
    <!-- <input type="text" v-model="search">
    {{resultQuery}} -->
       <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <!-- <button class="btn btn-danger float-right" v-on:click="newModal">Withdrawals</button> -->
            <download-excel :data="json_data" class="btn btn-danger float-right" name="withdrawal_report.xls">Generate Report</download-excel>
            <h1 class="h4 mb-0 text-gray-800">Transactions</h1>
                <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-danger"></i> Generate Report</a>  -->
        </div>
        <div style="overflow-x:scroll" class="noPrint">
            <table class="table table-bordered table-sm text-center " >
                <thead>
                     <!-- <tr v-for="shelf in resultQuery" :key="shelf.id">
                         {{resultQuery}}
                        <td><a v-text="shelf.name" target="_blank"></a></td>
                    </tr> -->
                    <tr>
                        <th scope="col">Bin</th>
                        <th scope="col">Loc.</th>
                        <th scope="col">Material</th>
                        <!-- <th scope="col">Desc.</th>
                        <th scope="col">Size</th>
                        <th scope="col">Type</th> -->
                        <th scope="col">Qty</th>
                        <!-- <th scope="col">Main</th> -->
                        <!-- <th scope="col">Sub</th> -->
                        <th scope="col">Purpose</th>
                        <th scope="col">User</th>
                        <th scope="col">Remarks</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="withdraw of withdraws.data" :key="withdraw.id">
                        <td v-text="withdraw.shelf_name"></td>
                        <td v-text="withdraw.shelf_location"></td>
                        <td v-text="withdraw.item_name"></td>
                        <!-- <td v-text="withdraw.item_description"></td>
                        <td v-text="withdraw.item_size"></td>
                        <td v-text="withdraw.item_type"></td> -->
                        <td v-text="withdraw.quantity"></td>
                        <!-- <td v-text="withdraw.main_code"></td> -->
                        <!-- <td v-text="withdraw.sub_code"></td> -->
                        <td v-text="withdraw.purpose"></td>
                        <td>
                            <span v-for="user in users" :key="user.id">
                                <span v-text="user.name" v-if="user.id == withdraw.user_id"></span>
                            </span>
                        </td>
                        <!-- <td v-text="withdraw."></td> -->
                        <!-- <td v-text="withdraw.remarks"></td> -->
                        <td>
                            <span class="badge bg-warning text-white" v-if="withdraw.remarks == 'pending'">PENDING</span>
                            <span class="badge bg-success text-white" v-if="withdraw.remarks == 'approved'">APPROVED</span>
                            <span class="badge bg-danger text-white" v-if="withdraw.remarks == 'disapproved'">DISAPPROVED</span>
                        </td>
                        <td v-on:click="viewWithdraw(withdraw)"><span class="fa fa-eye text-danger" v-if="withdraw.remarks == 'pending'"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
            <pagination :data="withdraws" @pagination-change-page="getResults" class="mt-2" :limit="1"/>

        <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="requestModal">Transaction Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <table class="table table-bordered table-small">
                                <tr>
                                    <td>Bin:</td>
                                    <td v-text="request.shelf_name"></td>
                                </tr>
                                <tr>
                                    <td>Bin Location:</td>
                                    <td v-text="request.shelf_location"></td>
                                </tr>
                                <tr>
                                    <td style="width:40%">Item Name:</td>
                                    <td v-text="request.item_name"></td>
                                </tr>
                                <tr>
                                    <td>Description:</td>
                                    <td v-text="request.item_description"></td>
                                </tr>
                                 <tr>
                                    <td>Size:</td>
                                    <td v-text="request.purpose"></td>
                                </tr>
                                <tr>
                                    <td>Main Code:</td>
                                    <td v-text="request.main_code"></td>
                                </tr>
                                <tr>
                                    <td>Sub Code:</td>
                                    <td v-text="request.sub_code"></td>
                                </tr>
                                <tr>
                                    <td>Quantity:</td>
                                    <td v-text="request.quantity"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer ">
                        <button type="button" class="btn btn-danger" v-on:click="disapproveRequest()">DISAPPROVE</button>
                        <button type="button" class="btn btn-success" v-on:click="approveRequest()">APPROVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            // console.log('Withdrawals Component')
            this.getResults();
            // console.log(this.withdraws);
        },
        created() {
            this.initData();

            Fire.$on('CallData', () => {
                this.initData();
            });
            // console.log(this.withdraws);
        },
         computed: {
            // resultQuery(){
            // if(this.search){
            //     return this.json_data.filter((data)=>{
            //         return this.search.toLowerCase().split(' ').every(v => data.shelf_name.toLowerCase().includes(v) || data.item_name.toLowerCase().includes(v))
            //     })
            //     }else{
            //         return this.withdraws;
            //     }
            // }
        },
        data() {
            return {
                search: '',
                withdraws: {},
                json_data: [],
                request: '',
                users: {},
                form: new Form ({
                    id: '',
                    item_id: '',
                    quantity: ''
                })
            }
        },
        methods: {
            getResults(page = 1) {
                axios.get('api/withdraws?page=' + page)
                    .then(response => {
                        this.withdraws = response.data;
                    });
		    },
            initData: function(){
                axios.get("/api/withdraws").then(({data}) => (this.withdraws = data));
                axios.get("/api/withdraws").then(({data}) => (this.json_data = data.data));
                axios.get("/api/user").then(({data}) => (this.users = data.data));
                // console.log(this.users);
            },
            viewWithdraw: function(withdraw){
                this.request = withdraw;
                console.log(this.request);
                $('#requestModal').modal('show');
               
            },
            approveRequest: function(){
                this.form.id = this.request.id;
                this.form.item_id = this.request.item_id;
                this.form.quantity = this.request.quantity;

                console.log(this.form);
                this.form.put('/api/approveRequest/'+this.form.id)
                    .then(()=>{
                        console.log("success");
                        Fire.$emit('CallData');
                        $('#requestModal').modal('hide');

                        Toast.fire({
                            icon: 'success',
                            title: 'Request Approved.'
                        })

                        this.$Progress.finish();
                    })
                    .catch(()=>{
                        Toast.fire({
                            icon: 'error',
                            title: 'Request failed.'
                        })
                        this.$Progress.fail();
                    });
            },
            disapproveRequest: function(){
                this.form.id = this.request.id;
                // this.form.item_id = this.request.item_id;
                // this.form.quantity = this.request.quantity;

                console.log(this.form);
                this.form.put('/api/disapproveRequest/'+this.form.id)
                    .then(()=>{
                        console.log("success");
                        Fire.$emit('CallData');
                        $('#requestModal').modal('hide');

                        Toast.fire({
                            icon: 'success',
                            title: 'Request Disapproved.'
                        })

                        this.$Progress.finish();
                    })
                    .catch(()=>{
                        Toast.fire({
                            icon: 'error',
                            title: 'Request failed.'
                        })
                        this.$Progress.fail();
                    });
            }
        }
    }
</script>
