<template>
    <div class="">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <!-- <button class="btn btn-danger float-right" data-toggle="modal" data-target="#userModal">Add New +</button> -->
            <button class="btn btn-danger float-right" v-on:click="newModal">Add New +</button>
            <h1 class="h3 mb-0 text-gray-800">User Management</h1>
                <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-danger"></i> Generate Report</a>  -->
        </div>
        <div style="overflow-x:scroll">
            <table class="table table-bordered table-sm text-center">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Role</th>
                        <th scope="col">Email</th>
                        <th scope="col" colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in users.data" :key="user.id">
                        <td v-text="user.name"></td>
                        <td v-text="user.access_level == 0 ? 'Staff': 'Admin'"></td>
                        <td v-text="user.email"></td>
                        <td>
                            <span class="fas fa-pen text-primary" v-on:click="editModal(user)" v-if="user.email !== 'admin@admin.com'"></span>
                        </td>
                        <td>
                            <span class="fas fa-trash-alt text-danger" v-on:click="deleteUser(user.id)" v-if="user.email !== 'admin@admin.com' "></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

         <pagination :data="users" @pagination-change-page="getResults" class="mt-2" :limit="1"/>
        
        <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><span v-text="editMode ? 'Edit User' : 'Add New User'"></span> </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <form @submit.prevent="editMode ? updateUser() : createUser()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="name" class="form-control" v-model="form.name" :class="{ 'is-invalid' : form.errors.has('name') }">
                            <has-error :form="form" field="name"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" v-model="form.email" :class="{ 'is-invalid' : form.errors.has('email') }">
                            <has-error :form="form" field="email"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="access_level">Access Level</label>
                            <select name="access_level" class="custom-select" id="" v-model="form.access_level" :class="{ 'is-invalid' : form.errors.has('access_level') }">
                                <option value="0">Staff</option>
                                <option value="1">Admin</option>
                            </select>
                            <has-error :form="form" field="access_level"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" v-model="form.password" :class="{ 'is-invalid' : form.errors.has('password') }">
                            <has-error :form="form" field="password"></has-error>
                        </div>
                        <!-- <div class="form-group">
                            <label for="password-confirm">Confirm Password</label>
                            <input type="password" class="form-control"  name="password_confirmation" id="password-confirm">
                        </div> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger"><span v-text="editMode ? 'Save changes' : 'Create User'"></span></button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            // console.log('Component mounted.')
            this.getResults();
        },
        data() {
            return {
                editMode: true,
                users: {},
                form: new Form({
                    id: '',
                    name: '',
                    email: '',
                    password: '',
                    access_level: ''
                })
            }
        },
        created() {
            Fire.$on('searching', () => {
                let query = this.$parent.search;
                axios.get('/api/findUser?q=' + query)
                .then((data)=> {
                    this.users = data.data;
                })
                .catch(()=> {
                    
                });
            })

            
            this.loadUsers();

            Fire.$on('CallUsers', () => {
                this.loadUsers();
            });
        },
        methods: {
            getResults(page = 1) {
                axios.get('api/user?page=' + page)
                    .then(response => {
                        this.users = response.data;
                    });
		    },
            newModal: function(){
                this.editMode = false;
                this.form.reset();
                $('#userModal').modal('show');
            },
            editModal: function(user){
                this.editMode = true;
                this.form.reset();
                $('#userModal').modal('show');
                this.form.fill(user);
            },
            updateUser: function(){
                this.form.put('/api/user/'+this.form.id)
                .then(()=>{
                    Fire.$emit('CallUsers');
                    $('#userModal').modal('hide');

                    Toast.fire({
                        icon: 'success',
                        title: 'User Updated.'
                    })

                    this.$Progress.finish();
                })
                .catch(()=>{
                    Toast.fire({
                        icon: 'error',
                        title: 'User Update Failed.'
                    })
                    this.$Progress.fail();
                });
            },
            createUser: function(){
                this.$Progress.start();

                this.form.post('/api/user')
                .then(() => {
                    Fire.$emit('CallUsers');
                    $('#userModal').modal('hide');

                    Toast.fire({
                        icon: 'success',
                        title: 'User Created.'
                    })

                    this.$Progress.finish();
                })
                .catch(() => {
                     Toast.fire({
                        icon: 'error',
                        title: 'User Creation Failed.'
                    })
                    this.$Progress.fail();
                });
            },
            loadUsers: function(){
                // console.log('Users loaded');

                axios.get("/api/user").then(({data}) => (this.users = data));
                
            },
            deleteUser: function(id){
                 Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#e74a3b',
                    cancelButtonColor: '#858796',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                    if (result.isConfirmed) {
                        this.form.delete('/api/user/'+id)
                        .then(()=>{
                            Fire.$emit('CallUsers');
                           Toast.fire({
                                icon: 'success',
                                title: 'User Deleted.'
                            })
                        })
                        .catch(()=>{})
                        ;
                    }
                })         
            }
        }
    }
</script>
