<template>
    <div class="">
        <p class="error small">{{ error }}</p>
        <qrcode-stream @decode="onDecode" @init="onInit" v-if="scan"/>

        <div class="text-center">
            <button type="button" class="btn btn-danger mt-4 mb-2" v-on:click="scanQR">Scan QR Code to Withdraw</button>
            <h4>OR</h4>
            <div class="form-group text-center">
                <center>
                    <label for="">Enter Bin Name or Location</label>
                    <br>
                    <input type="text" class="form-control w-50" v-model="search" v-on:keyup="searchAll" placeholder="">
                </center>
            </div>
        </div>

        <p class="h4 text-center mt-1" v-if="result">
            <span v-for="shelf in shelves" :key="shelf.id" >
                <span class="h3 font-weight-bold text-uppercase" v-text="shelf.name" v-if="result == shelf.qrcode || search == shelf.name || search == shelf.location"></span>
            </span>
        </p>
        
        <div v-if="result || res || shelves">
           
            <div style="overflow-x:scroll" class="">
                <table class="table table-bordered table-sm text-center mt-4">
                    <thead>
                        <tr>
                        <th scope="col">Material</th>
                        <th scope="col">Desc.</th>
                        <th scope="col">Size</th>
                        <th scope="col">Type</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Withdraw</th>
                        </tr>
                    </thead>
                    <tbody v-for="shelf in shelves" :key="shelf.id">
                       <tr v-for="item in shelf.items" :key="item.id" :class="item.quantity <= 5 ? 'table-warning' : '' " >
                            <td v-text="item.name"></td>
                            <td v-text="item.description"></td>
                            <td v-text="item.size"></td>
                            <td class="small" v-text="item.type"></td>
                            <td v-text="item.quantity"></td>
                            <td>
                                <span class="fas fa-sign-out-alt text-danger" v-on:click="withdrawModal(item, shelf)" v-if="item.quantity >= 0"></span>
                            </td>
                        </tr>
                        <tr v-if="shelf.items == 0">
                             <td colspan="6">NO RESULTS FOUND</td>
                        </tr>
                        <tr></tr>
                    </tbody>
                </table>
                 <center>
                    <span class="h6 text-center" v-if="shelves.length == 0">NO RESULTS FOUND</span>
                </center>
            </div>
        </div>

        <div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Withdraw Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <form @submit.prevent="withdrawItem()">
                    <div class="modal-body">
                        <div class="text-center">
                            <table class="table table-bordered table-small">
                                <tr>
                                    <td style="width:40%">Item Name:</td>
                                    <td v-text="form.name"></td>
                                </tr>
                                <tr>
                                    <td>Description:</td>
                                    <td v-text="form.description"></td>
                                </tr>
                                 <tr>
                                    <td>Size:</td>
                                    <td v-text="form.size"></td>
                                </tr>
                                <tr>
                                    <td>Type:</td>
                                    <td v-text="form.type"></td>
                                </tr>
                                <tr>
                                    <td>Quantity:</td>
                                    <td v-text="form.quantity"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input type="number" class="form-control" v-model="withdraw.quantity" :class="{ 'is-invalid' : withdraw.errors.has('quantity') }">
                            <has-error :form="withdraw" field="quantity"></has-error>   
                        </div>
                        <div class="form-group">
                            <label for="main_code">Main Code</label>
                            <input type="text" class="form-control" v-model="withdraw.main_code" :class="{ 'is-invalid' : withdraw.errors.has('main_code') }">
                            <has-error :form="withdraw" field="main_code"></has-error>   
                        </div>
                        <div class="form-group">
                            <label for="sub_code">Sub Code</label>
                            <input type="text" class="form-control" v-model="withdraw.sub_code" :class="{ 'is-invalid' : withdraw.errors.has('sub_code') }">
                            <has-error :form="withdraw" field="sub_code"></has-error>   
                        </div>
                        <div class="form-group">
                            <label for="purpose">Purpose</label>
                            <textarea class="form-control" id="purpose" rows="3" v-model="withdraw.purpose " :class="{ 'is-invalid' : withdraw.errors.has('purpose') }"></textarea>
                            <has-error :form="withdraw" field="purpose"></has-error>
                        </div>
                        <!-- <small class="text-danger">Note: Withdraw quantity should not be higher than item quantity</small> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!-- <span v-if="form.quantity < withdraw.quantity">
                            <button class="btn btn-danger">Your requested withdraw quantity should not be higher than item quantity</button>
                        </span> -->
                        <!-- <span v-else> -->
                        <button type="submit" class="btn btn-danger">Withdraw</button>
                        <!-- </span> -->
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            // console.log('Component mounted.')
        },
        created() {
            Fire.$on('RecallData', () => {
                this.onDecode(this.result);
            });

            Fire.$on('searching', () => {
                let query = this.search;
                axios.get('/api/findBins?q=' + query)
                .then((data)=> {
                    this.res = true;
                    this.shelves = data.data;
                    // console.log(this.shelves.length, this.result, this.res)
                })
                .catch(()=> {
                    
                });
            })
        },
        data () {
            return {
                search: '',
                res: false,
                withdraw: new Form({
                    shelf_name: '',
                    shelf_location: '',
                    item_name: '',
                    item_description: '',
                    item_size: '',
                    item_type: '',
                    quantity: '',
                    purpose: '',
                    main_code: '',
                    sub_code: ''
                }),
                form: new Form({
                    id: '',
                    shelf_id: '',
                    name: '',
                    description: '',
                    quantity: '',
                    size: '',
                    type: '',
                    userId: ''
                }),
                shelves: {},
                shelf: {},
                items: {},
                scan: false,
                result: '',
                error: ''
            }
        },
        methods: {
        searchAll: _.debounce(()=>{
            Fire.$emit('searching');
        },1000),
        withdrawItem: function(){
            if(this.form.quantity < this.withdraw.quantity || this.withdraw.quantity == ''){
                Toast.fire({
                    icon: 'error',
                    title: 'Withdraw quantity should not be higher than item quantity'
                })
                return;
            } else {
                this.withdraw.userId = this.$parent.user_id;
                this.withdraw.shelf_name = this.shelf.name;
                this.withdraw.shelf_location = this.shelf.location;
                this.withdraw.item_name = this.form.name;
                this.withdraw.item_description = this.form.description;
                this.withdraw.item_size = this.form.size;
                this.withdraw.item_type = this.form.type;
                this.withdraw.put('/api/withdraw/'+this.form.id)
                .then(()=>{
                    Fire.$emit('RecallData');
                    $('#withdrawModal').modal('hide');

                    Toast.fire({
                        icon: 'success',
                        title: 'Item Requested.'
                })

                this.$Progress.finish();
                })
                .catch(()=>{
                    Toast.fire({
                        icon: 'error',
                        title: 'Item Request Failed.'
                    })
                    this.$Progress.fail();
                });
            }
        },
        withdrawModal: function(item, shelf){
            this.shelf = shelf;
            this.form.reset();
            this.withdraw.reset();
            $('#withdrawModal').modal('show');
            this.form.fill(item);
            // console.log(this.shelf);
        },
        scanQR: function (){
            this.scan = true;
        },
        onDecode (result) {
            this.scan = false;
            this.result = result;
            axios.get('/api/findQR?q=' + this.result)
            .then((data)=> {
                this.shelves = data.data;
            })
            .catch(()=> {
                
            });
        },
        async onInit (promise) {
        try {
            await promise
            } catch (error) {
                if (error.name === 'NotAllowedError') {
                    this.error = "ERROR: you need to grant camera access permisson"
                } else if (error.name === 'NotFoundError') {
                    this.error = "ERROR: no camera on this device"
                } else if (error.name === 'NotSupportedError') {
                    this.error = "ERROR: secure context required (HTTPS, localhost)"
                } else if (error.name === 'NotReadableError') {
                    this.error = "ERROR: is the camera already in use?"
                } else if (error.name === 'OverconstrainedError') {
                 this.error = "ERROR: installed cameras are not suitable"
                } else if (error.name === 'StreamApiNotSupportedError') {
                    this.error = "ERROR: Stream API is not supported in this browser"
                }
            }
            }
        }
    }
</script>
